body{
    background-color: #F3E5D8;
}

.recipe_design{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #FFFFFF;
    width: 48vw;
    border-radius: 20px;
    padding: 2.5em;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #676461;
    margin: 8% 0 8% 0;
    font-size: 1em;
}

.recipe_design img{
    width: 100%;
    border-radius: 10px;
}

.recipe_design h1{
    color: #2B2A28;
    font-size: 2.5em;
}

.recipe_design hr{
    height: 0.2px;
}
.recipe_design .prepration_time{
    background-color: #FFF7FC;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
}
.recipe_design .prepration_time h3{
    color: #5E2B40;
}
.recipe_design li{
    margin-bottom: 1em;
}

.recipe_design .nutrition table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.recipe_design .nutrition table tr{
    border-bottom: 2px solid #ddd;
    border-color: #E4E4E4;
}

.recipe_design .nutrition table tr td{
    padding: 1em;
}

.margin_top_btm{
    margin: 2em 0 2em 0;
}

.brown_color{
    color: #864632;
    font-weight:bolder;
}
